body {
  font-family: "Roboto", "Lucida Grande", Tahoma, sans-serif;
  font-size: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
  color: #555;
  border: 0;
  outline:0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
*{
  box-sizing: border-box;
}
#status {
  /* avoid an excessively wide status text */
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 400px;
}
#appContainer{
  width: 100%;
  min-width: 400px;

  #appTitle{
    text-align: center;
    background:rgba(22,22,22,0.085);
    position: relative;
    box-shadow: 0px 0px 2px rgba(2,2,2,0.6);


    #title{
      font-size: 20px;
      text-align: center;
      text-transform: uppercase;
      color: #555;
      margin: 0;
      padding: 13px;
    }
  }
}
#menuContainer{
  width: 100%;

  #menuNavigation{
    .menuUl{
      list-style: none;
      margin: auto;
      padding: 0;
      text-align: center;
      width: 100%;

      &:after{
        content: '';
        display: block;
        positioN: relative;
        clear: both;

      }

      li{
        display: block;
        float: left;
        position: relative;
        margin:0;
        width: 50%;
        padding: 10px 0;
        box-sizing: border-box;
        text-transform: uppercase;
        opacity: 0.9;
        cursor: pointer;
        transition: background 0.4s, opacity 0.4s;
        background: #606367;
        color: #ddd;

        &:hover,&.active{
          background: #6b4d6b;
          opacity: 1;
          color: #fff;

          &.active{

            &:after{
              position: absolute;
              display: block;
              width: 0;
              bottom:-12px;
              height: 0;
              right: calc(50% - 10px);
              content: '';
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
              border-top: 12px solid #6b4d6b;
            }
          }
        }
      }

    }
  }
}

// App body
#appBody{
  //background: #513a51;
  background: #323232;
  color: #ddd;
  text-align: center;
  font-size: 20px;
  padding: 20px 10px;

  .screen{
    display: none;
    &.active{
      display: block;
    }
  }
  .miniScreen{
    display: none;
    position: relative;
    opacity: 0;
    transition: opacity 1s;
    
    &.show{
      opacity: 1;
    }

    // form to add project
    #addProject, #addGoal{
      padding-top: 10px;
      text-align: left;
      font-size: 15px;
      width: 90%;
      margin:auto;
      label{
        padding: 5px 0;
        display: block;
      }
      input{
        width: 99%;
        display: inline-block;
        padding: 5px;
        font-size: 15px;
        &.error{
          background: #ffdede;
        }

      }
      small{
        display: block;
        margin: 5px 0;
        padding: 0;
        font-size: 12px;
        color: #999;
      }
      #AddTrackNewProject, #addNewGoal{
        margin: 10px auto;
        display: inline-block;
        background: #684b68;
        color:#eee;
        border: 0;
        outline: 0;
        padding: 12px;
        font-size: 16px;
        cursor: pointer;
        transition: transform 1s, background 1s;

        &.pop{
          animation: shake 0.8s linear 1;
          background: #8b2026 !important;
        }
        &.save{
          background: #3fa041;
          transition: background 200ms 0s !important;
        }

        &:hover{
          color:#fff;
          background: #7d597d;
        }
      }
    }
    .headLineNo{
      position: absolute;
      right: 40px;
      top: -5px;
      color: rgba(255,255,255,0.4);
    }
    .exitMini{
      display: inline-block;
      position: absolute;
      font-size:42px;
      right: -2px;
      top: -32px;
      font-family: Helvetica Neue, Helvetica,sans-serif;
      font-weight: 100;
      transition: transform 0.5s, opacity 0.6s, color 1s;
      opacity: 0.6;
      cursor: pointer;
      padding: 10px;
      &:hover{
        opacity: 1;
        color: #d54f51;
      }
    }
    &.active{
      display: block;
    }
  }
  .projectDetails{
    // ProjectDetails box do not display on default
    display: none;
    font-size: 11px;
    font-weight: 300;
    padding: 15px 10px 0 10px;
    clear: both;
    text-align: left;
    border-top: 1px solid #444;
    margin: 15px auto 0 auto;
    position: relative;
    top: 10px;

    .scrollAbleResults{
      overflow: auto;
      max-height: 150px;
      margin-top:10px;
      position:relative;
      display: block;
    }

    .deleteConfirm{
      padding:10px;
      background: #292929;
      color: #ff97a1;
      display: inline-block;
      margin: 10px;
      cursor: pointer;
      &:hover{
        color: red;
        box-shadow: 0 2px 4px rgba(2,2,2,0.5);
      }
    }
    .cancelConfirm{
      background: #292929;
      padding:10px;
      color: #999;
      display: inline-block;
      margin: 10px;
      cursor: pointer;
      &:hover{
        color: #fff;
        box-shadow: 0 2px 4px rgba(2,2,2,0.5);
      }
    }

    .dataPoints{
      //table
      width: 100%;
      clear:both;
      border: none;
      border-collapse: collapse;

      tr:nth-child(odd) {
        background: rgba(255,255,255,0.06);
      }

      tr:hover{
        background: rgba(72, 228, 86, 0.08);
        td:first-of-type{

          color: #fff;

          &:after{
            content: " ending at"  attr(data-time);
            left: 5px;
            opacity: 1;
          }

        }
      }
      td:last-of-type{
        text-align: right;
      }
      td{
        margin:0;
        padding:5px 4px;
        &:after{
          transition: left 0.5s, opacity 1s;
          display: inline-block;
          position: relative;
          color: #ccc;
        }
      }
    }

    &:after{
      content: '';
      display: block;
      clear: both;
      position: relative;
    }
    
    #removeProject{
      position: absolute;
      padding: 5px 10px;
      background:rgba(2,2,2,0.1);
      z-index: 100;
      cursor: pointer;
      top: 11px;
      right: 10px;
      background: #292929;
      &:hover{
        color: #ff606e;
        box-shadow: 0 2px 4px rgba(2,2,2,0.65);
      }
    }
    #projectHours{
      font-size: 14px;
      color: #f4fdff;
    }
  }
  #smallInfo{
    margin: 15px 0 0 0;
    font-size: 11px;
    text-align: right;
    color: #777;
    font-family: Helvetica Neue, Helvetica, sans-serif;
    .links{
      text-align: left;
      color: #ccc;
      float: left;
      width: 50%;
      top: 3px;
      position: relative;
      text-transform: uppercase;
    }
  }
  .trackBox{
    &:after{
      display: block;
      content: '';
      clear: both;
    }
    #projectOrTimer,#projectToggleTimer{
      width: 50%;
      float: left;
      margin: 0;
    }
    #timerDisplay{
      position: relative;
      display: none;
      cursor: default;
      #timerValue{
       padding:0;
        margin:0;
      }
    }
    #projectOrTimer{
      #projects{
        display: inline-block;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        max-width: 90%;
        background: rgba(2,2,2,0.1);
        color: #fff;
        border: 0; outline: 0;
        padding: 15px 5px;
        option{
          padding: 12px 5px;
        }
      }
    }
    #projectToggleTimer{
      #startStop{
        transition: color 0.35s;
        color: #aaa;
        cursor: not-allowed;
        &:hover{
          color: #808080;
        }
        &.stop{
          cursor: pointer !important;
          color: #c84c42;
          &:hover{
            color: #ff5b51;
          }
        }
        &.ready{
          cursor: pointer !important;
          color: #88cb94;
          &:hover{
            color: #56e0ee;
          }
        }
      }
    }

  }

  #goals{
    position: relative;
    min-height: 210px;

    #showGoals{
      height: 100%;
      overflow: auto;
      position: absolute;
      transition: opacity 0.4s;

      #finished_goals{
        font-size: 13px;
        color: #ccc;
        text-align: left;
        clear:both;
        #num_finished{
          color: #eee;
          font-size: 18px;
          font-weight: 800;
          display: inline-block;
          border-bottom: 2px solid #999;
          margin: 0 4px;
        }
      }

      &.fadeOut{
        opacity: 0;
      }

      // table
      table.goals{
        text-align: left;
        font-size: 16px;
        position: relative;
        top: 15px;

        td:nth-child(1){
          width: 26px;
          height: 26px;
          line-height: 26px;
          text-align: center;
          font-size:20px;
          opacity: 0.4;
          cursor: pointer;
          transition: opacity 0.5s, font-size 0.25s;
          &:hover{
            opacity: 0.9;
            font-size: 22px;
          }
        }

        td:nth-child(2){
          // date
          font-size:14px;
          color:#999;
          padding-right: 10px;
        }
      }

    }

    #addButton{
      background: #fff;
      box-shadow: 0 3px 4px rgba(2,2,2,0.4);
      width: 30px;
      height: 30px;
      border-radius: 30px;
      text-align: center;
      position:absolute;
      line-height: 30px;
      color: #6b4d6b;
      font-size: 20px;
      display: inline-block;
      right: 10px;
      top: -10px;
      cursor: pointer;
      transition: transform 0.5s, opacity 1s, box-shadow 0.5s;
      opacity: 0.9;
      visibility: visible;
      z-index: 200;

      &.fadeOut{
        transition: opacity 0s;
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
      }
      
      &:hover{

        box-shadow: 5px 0 10px rgba(1,1,1,0.6);
        background: #fff;
        transform: rotate(90deg);
        opacity: 1;
        color: #ac4fff;

      }
    }
  }

}



@keyframes shake {
  0%{
    transform: translate(-4px, 0);
  }
  20%{
    transform: translate(4px, 0);
  }
  40%{
    transform: translate(-5px, 0);
  }
  60%{
    transform: translate(5px, 0);
  }
  100%{
    transform: translate(0px, 0);
  }
}